name: Go CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'         
        cache: true                

    - name: Download dependencies
      run: go mod download

    - name: Verify dependencies
      run: go mod tidy

    - name: Format check
      run: go fmt ./... && git diff --exit-code  

    - name: Vet
      run: go vet ./...

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v -race -cover ./...   
